<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>user registration</title>
  <!--&#91;if lt IE 9&#93;>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <!&#91;endif&#93;-->
  <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/js/api_accessor.js"></script>
</head>
<body>
  <h1>ユーザ登録</h1>

  <form id="create_user">
    <p><label for="uid">ユーザ番号：</label>
    <input type="text" name="uid" id="name" required></p>

    <fieldset><legend>端末情報</legend>
      <p><label for="kind">種類：</label>
      <select name="kind" id="kind" required>
        <option value="ble">BLE</option>
        <option value="wifi">Wi-Fi</option>
      </select></p>

      <p><label for="id">ID：</label>
      <input type="text" name="id" id="uid" required></p>
    </fieldset>

    <p><input type="button" name="submit_btn" value="送信" onclick="createUser()"></p>
  </form>
</body>
</html>